# Docker Compose configuration for Nginx and test containers
services:
# Nginx service
  nginx:
    build:
      context: ./nginx
    container_name: f5-nginx
    ports:
      - "8080:8080"
      - "8081:8081"
      - "8443:8443"

  # Test service
  test:
    build:
      context: ./tests
    container_name: f5-test
    depends_on:
      - nginx